@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* px */

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px;

/* Fonts */
$principal_font: 'Poppins', sans-serif;

/* colors */

 
$ligthGray: #e1e1e1;
$black: #0f0c0c;
$white: #ffff;
$gray: #a5a4a4;



